@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dots {
  background-image: radial-gradient(hsla(0, 0%, 100%, 0.1) 1px, transparent 0);
  background-size: 1rem 1rem;
  background-position: center top;
}